<div class="images-with-text-slider__title css-slide 
  three-tenths lap--smart-width palm--smart-width
  {% if first %} 
    push-left-one-tenth lap--push-left-padding
  {% else %} 
    push-left-half-tenth lap--push-left-padding
  {% endif %}
"
  {{ shopify_attributes }}
  data-index="{{ index }}"
>
  {%- if heading != blank -%}
    <h4 class="{% unless heading_type == 'body' %} h3 {% endunless %}light">{{ heading | escape }}</h4>
  {%- endif -%}
</div>